html {
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
} 
.container-menu {
    display: flex;
    max-width: 0px;
    margin: auto;
}
.menu {
    width: 1920px;
    height: 140px;
    background-color: yellow;
}
.text {
    color: rgba(255, 11, 0, 1);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    position: absolute;
    top: 22px;
    bottom: 22px;
    height: 56px; 
}
.about {
    position: absolute;
    width: 148px;
    height: 56px;
    left: 172px;
    top: 60px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    color: #FF0B00;

    text-decoration: none;
}
.portfolio {
    position: absolute;
    width: 253px;
    height: 56px;
    left: 481px;
    top: 60px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    color: #FF0B00;
    text-decoration: none;
}
.contact {
    position: absolute;
    width: 221px;
    height: 56px;
    left: 1204px;
    top: 60px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    
    color: #FF0B00;
    text-decoration: none;
}
.eng {
    position: absolute;
    width: 81px;
    height: 56px;
    left: 1630px;
    top: 15px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    
    color: #FF0B00;
    
}
.container {
    display: flex;
    max-width: 1440px;
    margin: auto;
}
.photo {
    width: 1920px;
    height: 940px;
    background-image: url(img/F2.png);
    background-size: cover;
    position: absolute;
    height: 940px;
    left: 0px;
    top: 200px;
}
.circle {
    position: absolute;
    width: 199px;
    height: 199px;
    left: 860px;
    top: 44px;
    border-radius: 50%;

    background: #ffffff;
}
.logo {
    position: absolute;
    width: 595px;
    height: 842px;
    background-image: url(img/Logo.png);
    left: 669px;
    top: -200px; 
}
.streak-vertical {
    position: absolute;
    width: 940px;
    height: 120px;
    left: -410px;
    top: 610px;

    background: rgba(255, 255, 255, 0.5);
    transform: rotate(-90deg);
}
.streak-lateral {
    position: absolute;
    width: 1920px;
    height: 107px;
    left: 0px;
    top: 890px;

    background: rgba(255, 255, 255, 0.6);
}
.heading {
    color: white;
    position: absolute;
    height: 169px;
    left: 114px;
    padding-top: 516px;
    padding-bottom: 255px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 169px;
}
.heading2 {
    color: rgba(255, 11, 0, 1);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 117px;

    position: absolute;
    height: 117px;
    left: 112px;
    padding-top: 640px;
    padding-bottom: 183px;
}
a:hover {
    border-radius: 5%;
    top: 22px;
    height: 170px;
    width: 270px;
    padding-left: 20px;
    padding-top: 44px;
    color: white;
    background-color: rgba(255, 11, 0, 1);
    font-size: 50px;
    font-weight: 500;
}
.about:hover {
    padding-top: 52px;
    padding-left: 52px;
}
.portfolio:hover {
    padding-top: 52px;
    padding-left: 15px;
}
.contact:hover {
    padding-top: 52px;
    padding-left: 25px;
}
